<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("layouts/head.ejs")-%>
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="row d-flex justify-content-center ">
        <div class="col-8 text-center" style="font-size:40px">Login</div>
        <br/>
        <div class="col-6">
          <form id="form-auth" method="post" action="">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                aria-describedby="username"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
    <%- include("layouts/script.ejs")-%>
  </body>
</html>
